@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: url(/images/image2.jpg)no-repeat;
    background-size: cover;
    background-position: center;
}

header{
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px 100px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

header .logo{
    position: relative;
    font-size: 30px;
    text-decoration: none;
    font-weight: 800;
    letter-spacing: 1px;
}
.logo img{
    width: 150px;
    float: left;
    padding-left: 5%;
    padding-top: 2%;
}

header .nav a{
    color: #000;
    background: #dcdcdc;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 20px;
    transition: 0.3s;
    transition-property: background;
}

header .nav a:not(:last-child){
    margin-right: 30px;
}

header .nav a:hover{
    background: #fff;
}
.content{
    max-width: 650px;
    margin: 60px 100px;
}

.content .info h2{
    color: #c75123;
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 30px;
}

.content .info h2 span{
    color: #fff;
    font-size: 50px;
    font-weight: 600;
}


.content .info-btn{
    color: #fff;
    background: #c75123;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 5px;
}

.content .info-btn:hover{
    background: #eba88d;
}

.as{
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
}
.about{
    background: url(/images/image1.jpeg) no-repeat left;
    background-size: 70%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
}
.con{
    float: left;
    padding-top: 3%;
    padding-left: 10%;
}
.con h1{
    color: #c75123;
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 30px;
}
.con p{
    color: #ffffff;
    font-size: 30px;
    font-weight: 600px;
    background: rgba(206, 92, 39, 0.63);
    border-radius: 5%;
}

.inner-section{
    width: 50%;
    float: right;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 70px 0px;
}

.inner-section h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
    padding-left: 15%;
}

.text{
    font-size: 13px;
    color: #000;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
    padding-left: 10%;
}

.skills{
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
    padding-left: 15%;
}

.skills button{
    font-size: 22px;
    text-align: center;
    letter-spacing: 2px;
    border: none;
    border-radius: 20px;
    padding: 8px;
    width: 200px;
    background-color: #c75123;
    color: white;
    cursor: pointer;
}

.skills button:hover{
    transition: 1s;
    background-color: #ecf5f5;
    color: #c75123;
}

.container{
    text-align: center;
    background: #f59670;
}
.header{
    padding-top: 60px;
    font-size: 20px;
    margin: auto;
    line-height: 50px;
}
.sb-container{
    max-width: 1200px;
    margin: auto;
    padding: 48px 0;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    
}
.teams img{
    width: 200px;
    height: 200px;
}
.teams{
    margin: 10px;
    padding: 22px;
    max-width: 30%;
    cursor: pointer;
    transition: 0.4s;
    box-sizing: border-box;
}

.name{
    padding: 12px;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}
.design{
    font-style: italic;
    color: #000000;
}
.detail{
    margin: 10px 0;
    font-weight: lighter;
    color: #000000;
}
.social-links{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.social-links a{
    position: relative;
    color: #291c01;
    font-size: 20px;
    transition: 0.3s;
    transition-property: transform;
}

.social-links a:not(:last-child){
    margin-right: 20px;
}
.social-links a:hover{
    transform: scale(1.5)
}

.inner-footer{
    margin: 0;
    padding: 0;
    background-color: #272727;
}

.footer-links{
    display: flex;
}
.footer-links ul{
    display: flex;
    width: 300px;
    height: 30px;
    margin: auto;
    padding: 5px;
}    
.link-item{
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
    list-style: none;
}
.link-item a{
    padding: 5px 10px;
    font-size: 35px;
    color: #f59670;
    position: relative;
    transition-property: transform;
    transition: 0.3s;
}
.link-items a:not(:last-child){
    margin-right: 60px;
}
.link-item a:hover{
    transform: scale(1.5)
}
.quick-links{
    display: flex;
    width: 550px;
    height: 60px;
    margin: auto;
    padding: 25px;
}
.quick-links ul{
    display: flex;
}
.quick-items{
    list-style: none;
}
.quick-items a{
    text-decoration: none;
    padding: 0 15px;
    font-size: 18px;
    color: #fff;
    transition: all .25s;
}
.quick-items a:hover{
    color: #c75123;
}
.outer-footer{
    padding: 10;
    text-align: center;
    color: white;
    font: 18px;
    background-color: #4b4646;
}
